@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Lato:wght@400;700;900&family=Merriweather:wght@400;700;900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }
body{
  font-family:'Poppins', sans-serif;
}
/* navbar style start here */
.header{
  background-color: #9376e0;
}
.nav-section{
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;


}
.nav-container{
  /* min-height: 40px; */
  display: flex;
  align-items: center;
  /* width: 50%; */
}
.nav-container img{
 width: 80px;
}
.nav-container p{
  font-size: 25px;
}
.nav-container .important{
 color: #e893cf;
 font-weight: 900;
}

.items-container{
  /* width: 50%; */
  display: flex;
  /* justify-content:space-between; */
  align-items: center;
  gap: 40px;

}
.items-container a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  justify-content: center;
}
.button{
  padding: 8px 20px;
  background-color:#e893cf;
  border-radius: 5px;
}
.items-container .button a{
  color: black;
}

/* nav bar style ends here */

/* banner section styles */
.banner-section{
  max-width: 1250px;
  margin: 0 auto;
  background-color: #9376e0;
}
.banner-section{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

.banner-img img{
  width: 50%;
  object-fit: cover;
}
.text-container h1, p, span{
  font-size: 45px;
}
.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}